<div class="modal-header">
    <h4>Create Chat Room</h4>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="chatroomName">Chat Room Name</label>
            <div class="input-group">
                <input id="chatroomName" name="chatroomName" class="form-control" [(ngModel)]="chatroomName">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="activeModal.close(chatroomName)">Create</button>
</div>